body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-body {
  z-index: -1;
  background: url('./assets/images/bg_body-3.jpg');
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: blur(50px);

}

.slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.async-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.async-slide-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.async-slide-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.auto-growing-textarea {
  overflow: hidden;
  resize: none;
  min-height: 30px;
}

.user-masonry-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 1rem;
}
.selected_ws::after {
  width: 0;
  content: "";
  height: 5px;
  color: black;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width .3s;
  
}

.selected_ws:hover::after, 
.selected_ws_true::after {
  width: 100%; 
}