body {
  margin: 0;
  font-family: 'QuickSand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .7px;
}

@font-face {
  font-family: 'QuickSand';
  src: url(./assets//fonts/Quicksand-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'QuickSand';
  src: url(./assets//fonts/Quicksand-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'QuickSand';
  src: url(./assets//fonts/Quicksand-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'QuickSand';
  src: url(./assets//fonts/Quicksand-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'QuickSand';
  src: url(./assets//fonts/Quicksand-Light.ttf);
  font-weight: 300;
}

code {
  font-family: 'QuickSand';
}

.bg-body {
  min-height: 100vh;
  z-index: -1;
  /* background: url('./assets/images/bg_body-3.jpg'); */
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: blur(50px);

}

.slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.async-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.async-slide-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.async-slide-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.auto-growing-textarea {
  overflow: hidden;
  resize: none;
  min-height: 30px;
}

.user-masonry-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 1rem;
}

.selected_ws {
  background-color: #ffffff60;
}

@media (min-width:767px) {
  .selected_ws:hover {
    background-color: #fafafa;
  }
}

.selected_ws_true {}

.button_style-1 {
  background: #fafafa;
  box-shadow: 1px 1px 2px #e1e1e1,
    -1px -1px 2px #ffffff;
}

.note_style-1 {
  border-radius: 15px;
  background: linear-gradient(145deg, #f3f3f3, #ffffff);
  box-shadow: 6px 6px 12px #dfdfdf,
    -6px -6px 12px #ffffff;
}

.pagingation-num:hover,
.page-active {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.pagingation-num {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  min-height: 100vh;
  margin-bottom: 100px;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.expand_item {
  transition-timing-function: cubic-bezier(1, 1, 0.35, 0) !important;
}

.single-chart {
  width: 33%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke-width: 3.2;
}

.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.percentage {
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.masonry-wrapper>div {
  column-gap: 20px !important;
}

.card_profile_image {
  max-height: 300px;
  max-width: 300px;
  margin: auto;
}

.cls-1 {
  fill: none;
}

.bg-page {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.st0 {
  opacity: 0.2;
  fill: none;
  stroke: #000000;
  stroke-width: 5.000000e-02;
  stroke-miterlimit: 10;
}


.analy-text {
  letter-spacing: 1px;
}

.ws-time {
  font-size: 10px;
}

.remember_switch {
  width: 50px;
  height: 25px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .5s ease-in-out;
}

.remember_button {
  width: 15px;
  height: 15px;
  background-color: rgb(131, 131, 131);
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.remember_false {
  transform: translateX(-12px);
}

.remember_true {
  background-color: white;
  transform: translateX(12px);
}

.authen-form {
  width: calc(100% - 20px);
}

@keyframes slideToRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideToLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.login-form {
  animation: slideToRight 1s ease-in-out;
}

.register-form {
  animation: slideToLeft 1s ease-in-out;
}

.authen-box {
  border-radius: 20px;
  background: white;
  box-shadow: 8px 8px 16px #e9e7e7,
    -5px -5px 15px rgba(255,255,255,1);
}

.authen-input {
  border-radius: 5px;
  background: white;
  box-shadow: inset 2px 2px 5px #ebebeb,
    inset -3px -3px 3px white;
}

.authen-button {
  border-radius: 5px;
  background: #fafafa;
}